---
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import LyricifySidebarPersister from './LyricifySidebarPersister.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<LyricifySidebarPersister>
	<SidebarSublist sublist={sidebar} />
</LyricifySidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>
